.official-header.fs-l-header {
  background: transparent;
}

.fs-l-header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background-color: #fff;
  top: 0px;
  padding-top: 0;
}
.fs-l-header {
  display: block;
  padding-top: 8px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
* {
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

address,
article,
aside,
div,
footer,
header,
hgroup,
layer,
main,
nav,
section {
  display: block;
}

body,
body#fs_Top,
body#fs_ProductDetails,
body#fs_CustomPage {
  /* font-family: var(--unnamed-font-family-din-condensed); */
  font-family: var(--unnamed-font-family-notosans) !important;
}

body {
  color: #3c3c3c;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo,
    メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.5;
  word-wrap: break-word;
}

html {
  font-size: 62.5%;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
html {
  color: text;
}
